
@{
    ViewBag.Title = "GetMoviesByYear";
}

<h2>GetMoviesByYear</h2>

<p>
      <table class="table">
        <tr>
            <th>movieid</th>
            <th>moviename</th>
            <th>dateofRelease</th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.movieid</td>
                <td>@item.moviename</td>
                <td>@item.dateofRelease</td>
            </tr>
        }
    </table>
</p>

